<footer >


<div class="container-fluid" style="padding-top:50px">

    
    <div class="help">

        <h1> We can talk. </h1>

        <h3>I am currently open to freelance work.</h3>

        <p>If you have any project you need to get done, or need any other help, feel free to contact me.</p>

        
        <a href="mailto:abhinav.barve2001@gmail.com">
            <button style="color:white"type="submit" class="btn">

                <i class="fas fa-envelope-square"></i> Message

            </button>
        </a>
        

    </div>

    <p style = "font-family: 'Karla', sans-serif;padding:20px 0px ; margin:auto; font-size:12px">by - <a href="/">Abhinav Barve</a></p>    
    <div class="contact">
        <a class="footer-link" href="mailto:abhianv.barve2001@gmail.com"><i class="fas fa-envelope"></i></a>
        <a class="footer-link" href="https://www.linkedin.com/in/abhinav-barve-2001/"><i class="fab fa-linkedin "></i></a>
        <a class="footer-link" href="https://github.com/abhinavbarve"><i class="fab fa-github "></i></a> 
    </div>
</div>


</footer>
    <!-- jQuery Google CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/frontend.js"></script>
</body>

</html> 

