<%- include("header") %>     

<section id="introduction"> 
    <!-- Introduction -->
        <div class="row container-fluid">
            
            <div class="col-lg-6 left">
                <div class="name">
                    <h2>Abhinav</h2>
                    <h1>Barve</h1>
                    <p>A WEB DEVELOPER</h3>
                </div>
                
            </div>
            
            <div class="col-lg-6 right">
             
                    <div class="salutation">
                    
                        <div class="salutation-box">
                            
                            <img height="200" width="200" src="Images/My-Boy-Circle-Background.png" alt="My-Boy.png">
                            
                            <p class="hi">Hi.</p>

                            <p class="hi-line">Glad to see you. <br> I am a developer commited to give you website of your choice.</p> 

                        </div>
            
                    </div>

                </div>

        </div>
    
</section>
    
    <section id="information">
    
        <img height="20" width="300" class="border-image" src="Images/border-style(1).png" alt="break">

        
        <div class="affirmation">
            
            <img height="200" width="200" src="Images/clean-code.png" alt="clean-code">
            <p> As a developer, my focus is to write clean code with detailed comments for better understanding. See some of my 
                projects <a href="/projects">here</a>.
            </p>
                
        </div>
        
        <img height="20" width="300" class="border-image" src="Images/border-style(1).png" alt="break">
    
    </section>

<%- include("footer") %>