<!-- carousel what can I do  -->
        <!-- <div class="container-fluid details">
            <div class="carousel-heading-div">
                <h1 class="carousel-big-heading">What can I do?</h1>
            </div>
            <div id="what-can-i-do" class="carousel slide" data-ride="carousel">
                
                
                <div class="carousel-inner">
                    
                    <div class="carousel-item active" data-interval="2000">
                        
                        <h2 class="carousel-heading">Build an impressive Front-End for your Websites.</h1>
                        
                        <div>
                            <img height="280" width="700" src="Images\html5-css3-js-icon-set-web-development-logo-icon.png" alt="HTML-CSS-Js">
                        </div>
                        
                        <div class="lib-icons">
                        
                            <img class="lib-icon" height="100" width="140" src="Images\bootstrap-logo.png" alt="Bootstrap">
                            <img class="lib-icon" height="100" width="180" src="Images\ReactJs-logo.png" alt="React Js">
                            <img class=lib-icon height="150" width="140" src="Images\jQuery-logo.png" alt="jQuery">
                            
                        </div>
                    
                    </div>
                    
                    <div class="carousel-item" data-interval="2000">
                    
                        <h2 class="carousel-heading">A well built Server with a strong back-end.</h1>
                    
                            <div class="lang-icons">
                                <img height="187.5" width="300" src="Images/nodejs-logo.png" alt="node-js">
                                <img height="150" width="300" src="Images/mongodb-logo.png" alt="mongodb">
                            </div>
                    
                            <div class="lib-icons">
                                <img height="80" width="240" src="Images/expressJs-logo.png" alt="ExpressJs">
                                <img height="80" width="240" src="Images/EJS-logo.png" alt="EJS"> 
                                <img height="80" width="200" src="Images/mongoose-logo.png" alt="mongoose"> 
                            </div>
                            
                    </div>
                    
                    <div class="carousel-item" data-interval="2000">
                        
                        <h2 class="carousel-heading">zxcvbnm</h1>
                    
                    </div>
        
                </div>
               
                
                
                <ol class="carousel-indicators">
                    <li style="background-color:black;height:10px" data-target="#what-can-i-do" data-slide-to="0" class="active"></li>
                    <li style="background-color:black;height:10px" data-target="#what-can-i-do" data-slide-to="1"></li>
                    <li style="background-color:black;height:10px" data-target="#what-can-i-do" data-slide-to="2"></li>
                </ol>
            

            </div>
        </div> -->

<!-- .carousel-heading-div {
    padding: 30px 0px;
    width: 60%;
    margin: auto;
}

.carousel-inner {
    min-height: 650px;

    border-width: 5px;
    border-color: #1b6ca8;
}

.carousel-big-heading {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    color: #1b6ca8;
    padding: 20px 0px;
}

.carousel-heading {
    font-family: 'Cormorant Garamond', serif;
    margin: auto;
    padding: 20px 0px;
}

.lang-icons {
    padding: 20px 10px 75px 10px;
}

.lang-icon {
    margin-right: 30px
}

.lib-icons {
    padding: 20px 10px;
    margin-bottom: 100px
}

.lib-icon {
    margin-right: 20px
} -->
