<%- include("header") %>

<section id="projects-intro" class="container-fluid">

        <div class="intro">

            <h1>Projects</h1>
            <p>work I have done so far...</p>

        </div>

</section>


<div class="container-fluid">

    <div class="projects-line">

        <img height="20" width="300" class="border-image" src="Images/border-style(1).png" alt="break">

        <p> 
            Here is a collection of the projects (including this website) I have completed. 
            Click on any of them to visit. Forgive me for bad design if any 🙂. My work is limited to development.
            Your<a href="mailto:abhinav.barve2001@gmail.com?subject=Feedback for your website."> feedback</a> will be valuable.
        </p>

        <img height="20" width="300" class="border-image" src="Images/border-style(1).png" alt="break">

    </div>

</div>


<section id="projects">


        <!-- project-1 -->
        <div style="background:#1b6ca8" class="container-fluid my-project">
            
            <div class="row project-row">
                
                <div class="col-lg-6 image-col">

                   <a href="https://readonly.herokuapp.com"><img height="200" width="200" src="Images\R-O.png" alt="Read-Only"></a> 

                </div>


                <div style="color:#ffc510" class="col-lg-6 desc-col">
                    
                    <h1 class="project-h1">Read-Only</h1>
                    <p>Front-End + Back-End + Database</p>
                    <br>   
                </div>
            </div>
        
        </div>

        <!-- project-2 -->
        <div style="background:#7d5a5a" class="container-fluid my-project">
            
            <div class="row project-row">
                
                <div class="col-lg-6 image-col">

                   <a href="https://readonly.herokuapp.com"><img height="200" width="200" src="Images\Cafe-Website-Logo-Cropped.png" alt="Cafe Logo"></a> 

                </div>


                <div style="color:#faf4f4" class="col-lg-6 desc-col">
                    
                    <h1 class="project-h1">The Old Day Cafe</h1>
                    <p>Front-End + Back-End</p>
                    <br>   
                </div>
            </div>
        
        </div>

        <!-- project-3 -->
        <div style="background-color: #ffffff;background-image:url('https://www.transparenttextures.com/patterns/light-sketch.png')" class="container-fluid my-project">
            
            <div class="row project-row">
                
                <div class="col-lg-6 image-col">

                   <a href="https://findimages-com.herokuapp.com"><img height="200" width="200" src="Images\findImages.com-Logo-Cropped.png" alt="fI Logo"></a> 

                </div>


                <div style="color:#2a547e" class="col-lg-6 desc-col">
                    
                    <h1 class="project-h1">findImages.com</h1>
                    <p>React App + different API's</p>
                    <br>   
                </div>
            </div>
        
        </div>
        

</sectiOn>


<%- include("footer") %>