<%- include("header") %>

<section id="projects-intro" class="container-fluid">

        <div class="intro">

            <h1>Projects</h1>
            <p>work I have done so far...</p>

        </div>

</section>


<div class="container-fluid">

    <div class="projects-line">

        <img height="20" width="300" class="border-image" src="Images/border-style(1).png" alt="break">

        <p> 
            Down is a collection of my projects (including this website). Forgive me for bad design if any. My work is limited to development.<a href="mailto:abhinav.barve2001@gmail.com?subject=Feedback for your website."> Feedback</a> will be valuable.
        </p>

        <img height="20" width="300" class="border-image" src="Images/border-style(1).png" alt="break">

    </div>

</div>


<section id="projects">
    
    <%- include("projectList") %>
         
</section>


<%- include("footer") %>
