<div class="projects-wrapper">
            <div style="color:#ffc510; background-color: #1b6ca8;" class="project-card" >
                <img class="card-img-top" src="Images\R-O.png" alt="Read-Only">
                <div class="card-body">
                    <h3 class="project-title">READ-ONLY</h3 class="project-title">
                    <p class="project-desc">Javascript(Front-End) | Node.Js | Express | EJS  | MongoDB | Rest API</p>
                    <a style="margin-top: 20px;" href="https://readonly.herokuapp.com" class="btn-block visit-link">Website</a>
                    <a href="https://github.com/abhinavbarve/readonly" class="btn-block visit-link">View at GitHub</a>
                </div>
            </div>
            
            
            <div class="project-card" style="background-color: #ffffff;background-image:url('https://www.transparenttextures.com/patterns/light-sketch.png')">
                <img  class="card-img-top" src="Images\findImages.com-Logo-cropped.png" alt="findImages">
                <div class="card-body">
                    <h3 class="project-title">findImages</h3 class="project-title">
                    <p class="project-desc">React.Js | API's</p>
                    <a style="margin-top: 20px;" href="https://findimages-com.herokuapp.com" class="btn-block visit-link">Website</a>
                    <a href="https://github.com/abhinavbarve/findImages" class="btn-block visit-link">View at GitHub</a>
                </div>
            </div>
            <div class="project-card" style="background-color: rgb(30, 37, 30); color:#fff " >
                <img class="card-img-top" src="Images\typefast-logo.png" alt="Read-Only">
                <div class="card-body">
                    <h3 class="project-title">Typefast</h3 class="project-title">
                    <p class="project-desc">jQuery</p>
                    <a style="margin-top: 20px;" href="https://abhinavbarve.github.io/typefast" class="btn-block visit-link">Website</a>
                    <a href="https://github.com/abhinavbarve/typefast" class="btn-block visit-link">View at GitHub</a>
                </div>
            </div>

            
    </div>